USE [master]
GO
/****** Object:  Database [Hotel_DBMS]    Script Date: 11/3/2021 9:35:55 PM ******/
CREATE DATABASE [Hotel_DBMS]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel_DBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel_DBMS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Fname] [nvarchar](100) NOT NULL,
	[Lname] [nvarchar](100) NOT NULL,
	[Address] [text] NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Picture] [image] NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateCheckIn] [date] NOT NULL,
	[DateCheckOut] [date] NULL,
	[idRoom] [int] NOT NULL,
	[status] [int] NOT NULL,
	[discount] [int] NULL,
	[totalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idService] [int] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calendar]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendar](
	[ID] [int] NOT NULL,
	[Shift] [nvarchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Shift] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRoom] [int] NOT NULL,
	[IDBill] [int] NULL,
	[Fname] [nchar](100) NOT NULL,
	[Lname] [nchar](100) NOT NULL,
	[CMND] [nchar](50) NOT NULL,
	[Sex] [nchar](20) NOT NULL,
	[Phone] [nchar](50) NULL,
	[Address] [text] NOT NULL,
	[Picture] [image] NULL,
	[DateCheckIn] [datetime] NOT NULL,
	[DateCheckOut] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomService]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomService](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCategory] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[UserID] [int] NOT NULL,
	[CheckIn] [datetime] NOT NULL,
	[CheckOut] [datetime] NOT NULL,
	[Checked] [int] NOT NULL,
	[Salary] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
	[count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([id], [DateCheckIn], [DateCheckOut], [idRoom], [status], [discount], [totalPrice]) VALUES (1, CAST(N'2021-10-30' AS Date), CAST(N'2021-11-02' AS Date), 3, 1, 0, 865000)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[BillInfo] ON 

INSERT [dbo].[BillInfo] ([id], [idBill], [idService], [count]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BillInfo] ([id], [idBill], [idService], [count]) VALUES (2, 1, 8, 1)
SET IDENTITY_INSERT [dbo].[BillInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomCategory] ON 

INSERT [dbo].[RoomCategory] ([ID], [price]) VALUES (1, 200000)
INSERT [dbo].[RoomCategory] ([ID], [price]) VALUES (2, 300000)
SET IDENTITY_INSERT [dbo].[RoomCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomService] ON 

INSERT [dbo].[RoomService] ([id], [idCategory], [name], [status]) VALUES (3, 1, N'Room 1', N'Trống')
INSERT [dbo].[RoomService] ([id], [idCategory], [name], [status]) VALUES (4, 1, N'Room 2', N'Trống')
INSERT [dbo].[RoomService] ([id], [idCategory], [name], [status]) VALUES (5, 1, N'Room 3', N'Trống')
SET IDENTITY_INSERT [dbo].[RoomService] OFF
GO
INSERT [dbo].[Salary] ([UserID], [CheckIn], [CheckOut], [Checked], [Salary]) VALUES (2, CAST(N'2021-11-02T11:37:37.473' AS DateTime), CAST(N'2021-11-02T11:37:37.473' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([id], [name], [idCategory], [price], [count]) VALUES (1, N'Bim Bim Mực Thái Lan', 1, 60000, 19)
INSERT [dbo].[Service] ([id], [name], [idCategory], [price], [count]) VALUES (2, N'Bò Khô Viên', 1, 285000, 20)
INSERT [dbo].[Service] ([id], [name], [idCategory], [price], [count]) VALUES (3, N'Cá Bò Rim', 1, 110000, 20)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategory] ON 

INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (1, N'Mixi Food')
INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (2, N'Nước giải khát')
INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (3, N'Thức ăn')
SET IDENTITY_INSERT [dbo].[ServiceCategory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__C9F284564479C370]    Script Date: 11/3/2021 9:35:55 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [DateCheckIn]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[BillInfo] ADD  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[RoomService] ADD  DEFAULT (N'Bàn chưa có tên') FOR [name]
GO
ALTER TABLE [dbo].[RoomService] ADD  DEFAULT (N'Trống') FOR [status]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT (getdate()) FOR [CheckIn]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT (getdate()) FOR [CheckOut]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [Checked]
GO
ALTER TABLE [dbo].[Salary] ADD  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[ServiceCategory] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[RoomService] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idService])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[calendar]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([IDBill])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([IDRoom])
REFERENCES [dbo].[RoomService] ([id])
GO
ALTER TABLE [dbo].[RoomService]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[RoomCategory] ([ID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[ServiceCategory] ([id])
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteCustommer]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_DeleteCustommer]
@id int 
AS
BEGIN
	DELETE dbo.Customer 
	WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteRoom]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteRoom]
@name NVARCHAR(20)
AS
BEGIN
	DELETE dbo.RoomService 
	WHERE RoomService.name = @name
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllCustomer]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAllCustomer]
as
begin
	SELECT RoomService.name as Room,Fname as [First Name],Lname as [ Last Name ],CMND,Sex,Phone,Address,DateCheckIn,DateCheckOut
	FROM Customer inner join RoomService on Customer.IDRoom = RoomService.id
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GETARCHIVE]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GETARCHIVE]
AS 
BEGIN 
	SELECT Service.name as [Name Service],ServiceCategory.name as [Category],price as Price ,count as Count 
	FROM Service inner join ServiceCategory on Service.idCategory = ServiceCategory.id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetArchiveByIDCategory]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetArchiveByIDCategory]
@idcategory int
AS 
BEGIN 
	SELECT Service.name as [Name Service],ServiceCategory.name as [Category],price as Price ,count as Count 
	FROM Service inner join ServiceCategory on Service.idCategory = ServiceCategory.id
	where ServiceCategory.id = @idcategory
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCustomer]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetCustomer]
 @idroom int 
as
begin
	SELECT Fname as [First Name] ,Lname as [Last Name],DateCheckIn as [Check In] ,DateCheckOut as [Check Out]
	FROM Customer
	WHERE IDRoom = @idroom
end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetCustomerByRoom]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetCustomerByRoom]
@idroom int 
as
begin
	SELECT Fname as [First Name] ,Lname as [Last Name],DateCheckIn as [Check In] ,DateCheckOut as [Check Out]
	FROM Customer
	WHERE IDRoom = @idroom and Status = 0
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDate]
@checkIn date, @checkOut date
AS 
BEGIN
	SELECT t.name AS [Tên Phòng], b.totalPrice AS [Tổng tiền], DateCheckIn AS [Ngày vào], DateCheckOut AS [Ngày ra], discount AS [Giảm giá]
	FROM dbo.Bill AS b,dbo.RoomService AS t
	WHERE DateCheckIn >= @checkIn AND DateCheckOut <= @checkOut AND b.status = 1
	AND t.id = b.idRoom
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateAndPage]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateAndPage]
@checkIn date, @checkOut date, @page int
AS 
BEGIN
	DECLARE @pageRows INT = 10
	DECLARE @selectRows INT = @pageRows
	DECLARE @exceptRows INT = (@page - 1) * @pageRows
	
	;WITH BillShow AS( SELECT b.ID, t.name AS [Tên Phòng], b.totalPrice AS [Tổng tiền], DateCheckIn AS [Ngày vào], DateCheckOut AS [Ngày ra], discount AS [Giảm giá]
	FROM dbo.Bill AS b,dbo.RoomService AS t
	WHERE DateCheckIn >= @checkIn AND DateCheckOut <= @checkOut AND b.status = 1
	AND t.id = b.idRoom)
	
	SELECT TOP (@selectRows) * FROM BillShow WHERE id NOT IN (SELECT TOP (@exceptRows) id FROM BillShow)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateForReport]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateForReport]
@checkIn date, @checkOut date
AS 
BEGIN
	SELECT t.name, b.totalPrice, DateCheckIn, DateCheckOut, discount
	FROM dbo.Bill AS b,dbo.RoomService AS t
	WHERE DateCheckIn >= @checkIn AND DateCheckOut <= @checkOut AND b.status = 1
	AND t.id = b.idRoom
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetNumBillByDate]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetNumBillByDate]
@checkIn date, @checkOut date
AS 
BEGIN
	SELECT COUNT(*)
	FROM dbo.Bill AS b,dbo.RoomService AS t
	WHERE DateCheckIn >= @checkIn AND DateCheckOut <= @checkOut AND b.status = 1
	AND t.id = b.idRoom
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoomDetail]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USP_GetRoomDetail]
@id int 
AS 
BEGIN
	SELECT RoomService.status
	FROM dbo.RoomService
	where RoomService.id =@id 
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoomList]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetRoomList]
AS SELECT * FROM dbo.RoomService
GO
/****** Object:  StoredProcedure [dbo].[USP_GetService]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetService]
AS SELECT * FROM dbo.Service
GO
/****** Object:  StoredProcedure [dbo].[USP_GetServiceCategory]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[USP_GetServiceCategory]
AS SELECT * FROM dbo.ServiceCategory
GO
/****** Object:  StoredProcedure [dbo].[USP_GetServiceDetail]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USP_GetServiceDetail]
@id int
AS
begin
	Select Service.id ,Service.name,ServiceCategory.name as category ,Service.price ,Service.count
	from Service inner join ServiceCategory on Service.idCategory = ServiceCategory.id
	where Service.id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBill]
@idRoom  INT
AS
BEGIN
	INSERT dbo.Bill 
	        ( DateCheckIn ,
	          DateCheckOut ,
	          idRoom ,
	          status,
	          discount
	        )
	VALUES  ( GETDATE() , -- DateCheckIn - date
	          NULL , -- DateCheckOut - date
	          @idRoom , -- idTable - int
	          0,  -- status - int
	          0
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idService INT, @count INT
AS
BEGIN

	DECLARE @isExitsBillInfo INT
	DECLARE @ServiceCount INT = 1
	
	SELECT @isExitsBillInfo = id, @ServiceCount = b.count 
	FROM dbo.BillInfo AS b 
	WHERE idBill = @idBill AND idService = @idService

	IF (@isExitsBillInfo > 0)
	BEGIN
		DECLARE @newCount INT = @ServiceCount + @count
		IF (@newCount > 0)
			UPDATE dbo.BillInfo	SET count = @ServiceCount + @count WHERE idService = @idService
		ELSE
			DELETE dbo.BillInfo WHERE idBill = @idBill AND idService = @idService
	END
	ELSE
	BEGIN
		INSERT	dbo.BillInfo
        ( idBill, idService, count )
		VALUES  ( @idBill, -- idBill - int
          @idService, -- idService - int
          @count  -- count - int
          )
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCustomerCheckIn]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertCustomerCheckIn]
@idroom int,@idbill int , @fname nvarchar(100),@lname nvarchar(100),@cmnd nvarchar(50),@sex nvarchar(20),@phone nvarchar(20) ,@address text,@picture image, @datecheckin datetime ,@status int 
AS
BEGIN
	INSERT dbo.Customer
	        ( 
			  IDRoom,
			  IDBill,
			  Fname,
			  Lname,
			  CMND,
			  Sex,
			  Phone,
			  Address,
			  Picture,
			  DateCheckIn,
			  Status
	        )
	VALUES  ( 
	          @idroom,
			  @idbill,
			  @fname,
			  @lname,
			  @cmnd,
			  @sex,
			  @phone,
			  @address,
			  @picture,
			  @datecheckin,
			  @status
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCustomerCheckOut]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertCustomerCheckOut]
@idroom int ,@date datetime , @status int
AS
BEGIN
	update dbo.Customer
	set 
			DateCheckOut = @date,
			Status = @status
	WHERE IDRoom = @idroom
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertRoom]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertRoom]
@name NVARCHAR(20) ,@idCategory int ,@status NVARCHAR(20)
AS
BEGIN
	INSERT dbo.RoomService 
	        ( name,
			  idCategory,
	          status
	        )
	VALUES  ( 
	          @name ,
			  @idCategory,
	          @status
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertService]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_InsertService]
@name NVARCHAR(100) ,@idcategory int,@price float,@amount int 
AS
BEGIN
	INSERT dbo.Service
	        ( 
				name,
				idCategory,
				price,
				count
				
	        )
	VALUES  ( 
	          @name ,
	          @idcategory,
			  @price,
			  @amount
	        )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Static]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_Static]
@date1 date ,@date2 date 
as
begin
	SELECT  CAST(DateCheckOut AS DATE) as Date , Sum(totalPrice) as Price 
    FROM Bill  
    WHERE status = 1 and DateCheckOut >= @date1  and DateCheckOut <= @date2 
    GROUP BY CAST(DateCheckOut AS DATE) 
end
GO
/****** Object:  StoredProcedure [dbo].[USP_StaticBill]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_StaticBill]
as
begin
	SELECT CAST(DateCheckOut AS DATE) as Date , Sum(totalPrice) as Price
	FROM Bill 
	WHERE status =1 
	GROUP BY CAST(DateCheckOut AS DATE)
end
GO
/****** Object:  StoredProcedure [dbo].[USP_StaticSalary]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[USP_StaticSalary]
as
begin
	SELECT CAST(CheckOut AS DATE) as Date ,Sum(Salary) as Cost 
	FROM salary 
	WHERE Checked=2 
	GROUP BY CAST(CheckOut AS DATE)
end
GO
/****** Object:  StoredProcedure [dbo].[USP_StaticSalaryByDay]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_StaticSalaryByDay]
@date1 date ,@date2 date 
as
begin
	SELECT CAST(CheckOut AS DATE) as Date ,Sum(Salary) as Cost 
	FROM salary 
	WHERE Checked=2  and CheckOut >= @date1  and CheckOut <= @date2 
	GROUP BY CAST(CheckOut AS DATE)
end
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateBillCheckOut]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USP_UpdateBillCheckOut]
@idbill int ,@date datetime , @status int ,@totalprice float
AS
BEGIN
	update dbo.Bill
	set 
			DateCheckOut = @date,
			Status = @status,
			totalPrice=@totalprice
	WHERE id = @idbill
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateCustomer]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USP_UpdateCustomer]
@id int,@fname nvarchar(100),@lname nvarchar(100),@cmnd nvarchar(50),@sex nvarchar(20),@phone nvarchar(20) ,@address text,@picture image
AS
BEGIN
	UPDATE dbo.Customer
	SET      
			  Fname = @fname,
			  Lname = @lname,
			  CMND = @cmnd,
			  Sex = @sex,
			  Phone = @phone,
			  Address = @address,
			  Picture = @picture
	WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRoom]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateRoom]
@id int ,@status NVARCHAR(20)
AS
BEGIN
	UPDATE dbo.RoomService 
	SET
			status = @status
	WHERE 
			id=@id	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateService]    Script Date: 11/3/2021 9:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_UpdateService]
@id int ,@name nvarchar(100),@idcategory int, @price float
AS
BEGIN
	UPDATE dbo.Service
	SET
			name = @name,
			idCategory = @idcategory,
			price=@price
	WHERE 
			id=@id	
END
GO
USE [master]
GO
